<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
<bean class="controller.payment.PaymentController"/>
<bean class="repository.OrderTravelRepository"/>
<bean class="service.payment.OrderService"/>
<bean class="service.payment.HotelNoService"/>
<bean class="service.payment.OrderNoService"/>
<bean class="service.payment.OrderInService"/>
<bean class="service.payment.OrderDelService"/>


<bean class="service.payment.PaymentPageService"/>
<bean class="service.payment.PaymentNoService"/>
<bean class="service.payment.PaymentOkService"/>

</beans>