<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"
>
	<bean class="controller.coupon.CouponController"/>
	<bean class="repository.CouponRepository"/>
	<bean class="service.coupon.CouponSelectService"/>
	<bean class="service.coupon.CpMemberInsertService"/>
	<bean class="service.coupon.CpDetailService"/>
	<bean class="service.coupon.CpMemberModService"/>
	<bean class="service.coupon.CpMemSelectService"/>
	<bean class="service.coupon.CouponUseSelect"/>
</beans>